body{
    background-color: black;
}
.main-container {
    height: 90vh;
    position: relative;
}
#smily-emoji {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}
@keyframes showSmilyEmojiSaysAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#smily-emoji-says {
    display: none;
    position: absolute;
    width: 30%;
    bottom: 60px;
    right: 80px;
    animation: showSmilyEmojiSaysAnimation 0.5s forwards;
}
.firstRow{
    height:100px;
}
.row > div {
    text-align: center;
    height: 50px;
    border: solid white;
    border-radius: 100px;
}
.row > div:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
    color:black;
}
.row > div:hover a{
    transition: 0.5s;
    color: black;
}
.row > div > a{
    text-decoration: none;
    color: white;
}
.row > div > a > h1{
    line-height: 40px;
    font-size: 1.2em;
}
@media screen and (max-width: 480px){
    .firstRow{
        height:80px;
    }
    .row > div > a > h1{
        font-size: 1em;
    }
    #smily-emoji-says {
        display: none;
        position: absolute;
        width: 80%;
        bottom: 60px;
        right: 80px;
    }
}