.row{
    margin-bottom: 100px;
}
.thumbnail{
    width:100%;
    margin-bottom: 20px;
}
.description > p{
    font-size: 0.8em;
}
.mainThumbnail{
    text-align: center;
}
.mainThumbnail > img{
    width:50%;
}
.membersCard{
    text-align: center;
}
.membersCard > img{
    width:80%;
}
.appIcon{
    height:50px;
}


@media screen and (max-width: 480px){
    .description{
        margin-top:20px;
    }
    .description > p{
        font-size: 1.0em;
    }
    .appIcon{
        height:40px;
    }
}
