.thumbnail{
    width:100%;
}
.description{
    margin-bottom: 50px;
}
.description > p{
    font-size: 0.8em;
}
.rightThumbnails > img{
    margin-top: 60px;
}
@media screen and (max-width: 480px){
    .description{
        margin-top:20px;
    }
    .description > p{
        font-size: 1.0em;
    }
}
