.row{
    margin-bottom: 100px;
}
.thumbnail{
    width:100%;
}
.description > p{
    font-size: 0.8em;
}
.stad{
    text-align: center;
}
.stad > img{
    width: 80%;
}
.stmock{
    text-align: center;
}
.stmock > img{
    width:80%;
}
@media screen and (max-width: 480px){
    .description{
        margin-top:20px;
    }
    .description > p{
        font-size: 1.0em;
    }
}
